body {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}
main {
    display: block;
    background-image: url(images/brazilflag.jpg);
    background-position: 50% 25%;
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
}
section.module.content{
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%; 
    padding-bottom: 15%;
}
.container, .container1{

    width: 100%; 
    margin: 0;
    box-sizing: border-box;
    padding: 20px;
    background-color: transparent;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.744);
}
.container p, .container1 p{
    font-size: 22px;
    color: #ffffff;
    text-shadow: 0px 0px 15px #00ff84;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    text-align: center;
    font-size: 62px;
}
p{
    text-align: left;
    font-size: 36px;
}
.destaque {
    font-style: oblique;
    color: #f5ffc6;
    font-weight: bold;
    transition: all 0.4s ease;
    border-bottom: 3px solid transparent;
    border-radius: 8px;
}
.destaque:hover {
    color: #f5ffc6;
    text-shadow: 0 0 5px #f5ffc6;
    border-bottom: 3px solid #f5ffc6;
    cursor:pointer;
}
#popup-hino {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(images/flag-brazil.jpg);
    background-position: 100% 50%;
    background-repeat: no repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(3px);
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    font-family: arial;
    font-weight: 700;
    padding: 15px;
    border-radius: 8px;
    pointer-events: none;
    max-width: 250px;
    transform: translate(-50%, -100%) scale(0.8);
    transition: 
        opacity 0.3s ease 0.1s, 
        transform 0.3s ease,
        visibility 0.3s;
}
#popup-hino.ativo {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -100%) scale(1); 
}
nav {
    display: flex;
    flex-direction: row;
    background: transparent linear-gradient(to top, rgba(0,0,0,0) 0, rgba(0,0,0,0) 20%, #000 110%);;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
nav a{
    font-family: arial;
    font-weight: 900;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: #ffffff;
    text-shadow: 
      0 -1px 0 #000000, 
      1px 1px 1px #000000, 
      2px 2px 2px #000000, 
      3px 3px 3px #000000, 
      4px 4px 4px #000000, 
      5px 5px 5px #000000, 
      22px 22px 30px rgba(0, 0, 0, 0.9);
    font-size: 18px;
    letter-spacing: 0.5px;
    width: max-content;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    transition: transform 0.4s ease, color  0.4s ease, backdrop-filter 0.8s ease;
    backdrop-filter: blur(0px);
    padding: 10px 20px;
    z-index: 500;
}
nav a:after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 1px;
    border-radius: 50px;
    width: 0;
    left: 0%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition:  0.4s ease;
    bottom: 0px;
    backdrop-filter: blur(0px);
}
nav a:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0%;
    width: 0%;
    height: 1px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    transition:  0.4s ease;
    bottom: 0px;
}
nav a:hover {
    transform: scale(1.1);
    backdrop-filter: blur(10px);
}
nav a:hover:before {
    width: 100%;
}
nav a:hover:after {
    width: 100%;
}

a.logo-link {
    position: fixed;
    bottom: 2%;
    left: 2%;
    z-index: 9999;
    text-decoration: none;
}

.logo {
    width: 160px;
    height: auto;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.7));
    transition: all 0.4s ease;
}

.logo:hover {
    transform: scale(1.2);
    filter: drop-shadow(3px 6px 10px rgba(0, 0, 0, 0.9));
}

.footer {
    background-color: #1a1a1a;
    color: #f1f1f1;
    padding: 40px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.footer p {
    margin: 5px 0;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.footer strong {
    color: #fedd00;
    text-transform: uppercase;
    scale: 0.8;
    transition: all 0.4s ease, all 0.4s ease;
    display: inline-block;
    font-size: 1rem;
    
}

.footer strong:hover {
    transform: scale(1.2);
    text-shadow: 0 0 10px rgba(254, 221, 0, 0.5);
    margin: 0 15px;
    cursor: default;
    font-size: 1.4rem;
}